body {
  background-image: url('../Images/Space.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: gray;
}

.topLink
{
	text-decoration: none;
	color: rgba(200, 200, 200, 0.5);
}
.topLinkWhite
{
	text-decoration: underline;
	line-height: 25px;
	font-size: 20px;
	color: rgba(255, 255, 255, 1);
	bold;
	underline;
}
.topLinkBox {
  width: 15em;
  height: 5em;
  border: 5px solid rgba(255, 255, 255, 0.1);
  box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.5);
  padding: 15px 15px;
  background-color: rgba(255, 255, 255, 0.4);
}

.class
{

}
#id
{

}